
@{
    ViewBag.Title = "Actores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: #382121f8; color: #1e0f0ff8;">

    <h2 style="font-size: 36px; font-family: 'Copperplate Gothic', sans-serif; text-align: center; color: #f1c232; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); letter-spacing: 2px;">
        ✨ Actores de Harry Potter ✨
    </h2>

    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

        
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card mb-3" style="background-color: #2b1e1d; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="~/Controllers/Imagenes/Alan Rickman.jpg" class="img-fluid rounded-start" alt="Alan Rickman" style="height: 250px; object-fit: cover;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style="background-color: #4e2a1b; text-align: center;">
                                <h5 class="card-title" style="color: #f1c232;">Alan Rickman</h5>
                                <p class="card-text" style="color: #f1c232;">El inolvidable Severus Snape, uno de los personajes más complejos y queridos de la saga.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card mb-3" style="background-color: #2b1e1d; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="~/Controllers/Imagenes/Emma Watson.jpg" class="img-fluid rounded-start" alt="Emma Watson" style="height: 250px; object-fit: cover;">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body" style="background-color: #4e2a1b; text-align: center;">
                                <h5 class="card-title" style="color: #f1c232;">Emma Watson</h5>
                                <p class="card-text" style="color: #f1c232;">Hermione Granger, la brillante amiga y compañera de Harry en todas sus aventuras mágicas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card mb-3" style="background-color: #2b1e1d; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="~/Controllers/Imagenes/Evanna Lynch.jpg" class="img-fluid rounded-start" alt="Evanna Lynch" style="height: 250px; object-fit: cover;">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body" style="background-color: #4e2a1b; text-align: center;">
                                <h5 class="card-title" style="color: #f1c232;">Evanna Lynch</h5>
                                <p class="card-text" style="color: #f1c232;">Luna Lovegood, la excéntrica pero sabia amiga de Harry, siempre fiel a su visión única del mundo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card mb-3" style="background-color: #2b1e1d; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="~/Controllers/Imagenes/rupert grint.jpg" class="img-fluid rounded-start" alt="Rupert Grint" style="height: 250px; object-fit: cover;">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body" style="background-color: #4e2a1b; text-align: center;">
                                <h5 class="card-title" style="color: #f1c232;">Rupert Grint</h5>
                                <p class="card-text" style="color: #f1c232;">Ron Weasley, el fiel amigo de Harry y Hermione, siempre dispuesto a ayudar en la lucha contra el mal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card mb-3" style="background-color: #2b1e1d; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="~/Controllers/Imagenes/Tom Felton.jpg" class="img-fluid rounded-start" alt="Tom Felton" style="height: 250px; object-fit: cover;">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body" style="background-color: #4e2a1b; text-align: center;">
                                <h5 class="card-title" style="color: #f1c232;">Tom Felton</h5>
                                <p class="card-text" style="color: #f1c232;">Draco Malfoy, el antagonista de Harry, conocido por su arrogancia y su lucha interna con el bien y el mal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card mb-3" style="background-color: #2b1e1d; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="~/Controllers/Imagenes/Daniel Radcliffe.jpg" class="img-fluid rounded-start" alt="Daniel Radcliffe" style="height: 250px; object-fit: cover;">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body" style="background-color: #4e2a1b; text-align: center;">
                                <h5 class="card-title" style="color: #f1c232;">Daniel Radcliffe</h5>
                                <p class="card-text" style="color: #f1c232;">Harry Potter, el joven mago que se enfrenta a los desafíos más grandes para derrotar al malvado Voldemort.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>