
@{
    ViewBag.Title = "Casas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body style="background-color: #382121f8; color: #1e0f0ff8;">

    <h2 style="font-size: 36px; font-family: 'Harry Potter', serif; text-align: center; color: #f1c232; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); letter-spacing: 2px; margin-top: 30px;">
        🌟 Casas de Hogwarts 🌟
    </h2>

    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

      
            <div class="col">
                <div class="card shadow-lg" style="background-color: #9C2D20; border: none; border-radius: 15px;">
                    <img src="~/Controllers/Imagenes/Gryffindor.jpg" class="card-img-top" alt="Gryffindor" style="height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body" style="background-color: #d53a3a; text-align: center; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <h5 class="card-title" style="color: #f1c232;">Gryffindor</h5>
                        <p class="card-text" style="color: #f1c232;">Casa conocida por su valentía y audacia, fundada por Godric Gryffindor. Los valientes como Harry Potter pertenecen a esta casa.</p>
                    </div>
                </div>
            </div>

       
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2A623D; border: none; border-radius: 15px;">
                    <img src="~/Controllers/Imagenes/Slytherin.jpg" class="card-img-top" alt="Slytherin" style="height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body" style="background-color: #3a7d5c; text-align: center; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <h5 class="card-title" style="color: #f1c232;">Slytherin</h5>
                        <p class="card-text" style="color: #f1c232;">Casa fundada por Salazar Slytherin, conocida por su astucia y determinación. Muchos magos oscuros han sido parte de esta casa.</p>
                    </div>
                </div>
            </div>

           
            <div class="col">
                <div class="card shadow-lg" style="background-color: #F1C232; border: none; border-radius: 15px;">
                    <img src="~/Controllers/Imagenes/Hufflepuff.jpg" class="card-img-top" alt="Hufflepuff" style="height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body" style="background-color: #f1c232; text-align: center; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <h5 class="card-title" style="color: #9C2D20;">Hufflepuff</h5>
                        <p class="card-text" style="color: #9C2D20;">Casa fundada por Helga Hufflepuff, famosa por su lealtad, paciencia y dedicación. Cedric Diggory era un destacado miembro de Hufflepuff.</p>
                    </div>
                </div>
            </div>

          
            <div class="col">
                <div class="card shadow-lg" style="background-color: #1A3B72; border: none; border-radius: 15px;">
                    <img src="~/Controllers/Imagenes/Ravenclaw.jpg" class="card-img-top" alt="Ravenclaw" style="height: 250px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body" style="background-color: #3a6d91; text-align: center; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <h5 class="card-title" style="color: #f1c232;">Ravenclaw</h5>
                        <p class="card-text" style="color: #f1c232;">Casa fundada por Rowena Ravenclaw, conocida por su inteligencia, sabiduría y creatividad. Personajes como Luna Lovegood son de esta casa.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>