
@{
    ViewBag.Title = "Criaturas Mágicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="font-size: 36px; font-family: 'Cinzel Decorative', 'Georgia', serif; color: #cc8828; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); letter-spacing: 2px; ">
    🐉 Criaturas Mágicas 🐉
</h2>

<body style="background-color: #382121f8; color: #1e0f0ff8;">
    <div class="container py-4">
        <div class="row justify-content-center">
            <!-- Criatura Mágica 1 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100" style="background:linear-gradient(to right, #a47552, #481315); border: 2px solid #f1c232; box-shadow: 0 4px 10px rgba(241, 194, 50, 0.5); border-radius: 15px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Controllers/Imagenes/slide10.jpg" class="img-fluid rounded-start" alt="Dragón" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style=" text-align: center; border-radius: 0 15px 15px 0; ">
                                <h5 class="card-title" style="color: #f1c232; font-family: 'Cinzel Decorative', 'Georgia', serif;">Dragón</h5>
                                <p class="card-text" style="color: #f1c232;">Descubre la majestuosa y peligrosa criatura que es el dragón, un ser mítico lleno de poder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Criatura Mágica 2 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100" style="background:linear-gradient(to right, #a47552, #481315); border: 2px solid #f1c232; box-shadow: 0 4px 10px rgba(241, 194, 50, 0.5); border-radius: 15px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Controllers/Imagenes/slide9.jpg" class="img-fluid rounded-start" alt="Hipogrifo" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style="text-align: center; border-radius: 0 15px 15px 0; ">
                                <h5 class="card-title" style="color: #f1c232; font-family: 'Cinzel Decorative', 'Georgia', serif;">Hipogrifo</h5>
                                <p class="card-text" style="color: #f1c232;">El hipogrifo es una criatura majestuosa, mitad águila y mitad caballo, conocida por su fuerza y nobleza.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Criatura Mágica 3 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100" style="background:linear-gradient(to right, #a47552, #481315); border: 2px solid #f1c232; box-shadow: 0 4px 10px rgba(241, 194, 50, 0.5); border-radius: 15px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Controllers/Imagenes/slide13.jpg" class="img-fluid rounded-start" alt="Thestral" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style=" text-align: center; border-radius: 0 15px 15px 0; ">
                                <h5 class="card-title" style="color: #f1c232; font-family: 'Cinzel Decorative', 'Georgia', serif;">Thestral</h5>
                                <p class="card-text" style="color: #f1c232;">Los thestrals son criaturas misteriosas que pueden ser vistas solo por aquellos que han presenciado la muerte.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Criatura Mágica 4 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100" style="background:linear-gradient(to right, #a47552, #481315); border: 2px solid #f1c232; box-shadow: 0 4px 10px rgba(241, 194, 50, 0.5); border-radius: 15px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/Controllers/Imagenes/slide12.jpg" class="img-fluid rounded-start" alt="Basilisco" style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" style=" text-align: center; border-radius: 0 15px 15px 0; ">
                                <h5 class="card-title" style="color: #f1c232; font-family: 'Cinzel Decorative', 'Georgia', serif;">Basilisco</h5>
                                <p class="card-text" style="color: #f1c232;">El basilisco es una serpiente gigante con un veneno mortal y una mirada capaz de petrificar a sus víctimas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>

<style>
    p {
        color: #f1c232;
        font-family: 'Cinzel Decorative', 'Georgia', serif;
    }
</style>