
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: #382121f8; color: #1e0f0ff8;">

    <h2 style="font-size: 36px; font-family:'Copperplate Gothic'; color: #f1c232; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); letter-spacing: 2px; text-align: center;">
        ✨ POCIONES ✨
    </h2>

    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
          
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2b1e1d; border: none;">
                    <img src="~/Controllers/Imagenes/slide2.jpg" class="card-img-top" alt="Poción Multiusos">
                    <div class="card-body" style="background-color: #4e2a1b;">
                        <h5 class="card-title" style="color: #f1c232;">Poción Multiusos</h5>
                        <p class="card-text" style="color: #f1c232;">Una poción versátil que puede ser usada en múltiples situaciones mágicas.</p>
                    </div>
                </div>
            </div>

          
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2b1e1d; border: none;">
                    <img src="~/Controllers/Imagenes/slide3.jpg" class="card-img-top" alt="Momm y Mandrake">
                    <div class="card-body" style="background-color: #4e2a1b;">
                        <h5 class="card-title" style="color: #f1c232;">Momm y Mandrake</h5>
                        <p class="card-text" style="color: #f1c232;">Hechizos y pociones relacionadas con las poderosas mandrágoras y sus efectos.</p>
                    </div>
                </div>
            </div>

            
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2b1e1d; border: none;">
                    <img src="~/Controllers/Imagenes/slide4.jpg" class="card-img-top" alt="Poción Crecehuesos">
                    <div class="card-body" style="background-color: #4e2a1b;">
                        <h5 class="card-title" style="color: #f1c232;">Poción Crecehuesos</h5>
                        <p class="card-text" style="color: #f1c232;">Poción utilizada para acelerar el crecimiento de huesos y mejorar la recuperación de fracturas.</p>
                    </div>
                </div>
            </div>

           
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2b1e1d; border: none;">
                    <img src="~/Controllers/Imagenes/slide5.jpg" class="card-img-top" alt="Poción Despetrificadora">
                    <div class="card-body" style="background-color: #4e2a1b;">
                        <h5 class="card-title" style="color: #f1c232;">Poción Despetrificadora</h5>
                        <p class="card-text" style="color: #f1c232;">Este hechizo se utiliza para liberar a una persona de un estado de petrificación.</p>
                    </div>
                </div>
            </div>

         
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2b1e1d; border: none;">
                    <img src="~/Controllers/Imagenes/slide6.jpg" class="card-img-top" alt="Amortentia">
                    <div class="card-body" style="background-color: #4e2a1b;">
                        <h5 class="card-title" style="color: #f1c232;">Amortentia</h5>
                        <p class="card-text" style="color: #f1c232;">La poción del amor más poderosa, que provoca una obsesión profunda en quien la consume.</p>
                    </div>
                </div>
            </div>

          
            <div class="col">
                <div class="card shadow-lg" style="background-color: #2b1e1d; border: none;">
                    <img src="~/Controllers/Imagenes/slide7.jpg" class="card-img-top" alt="Felix Felicis">
                    <div class="card-body" style="background-color: #4e2a1b;">
                        <h5 class="card-title" style="color: #f1c232;">Felix Felicis</h5>
                        <p class="card-text" style="color: #f1c232;">Conocida como la suerte líquida, esta poción asegura un éxito absoluto durante un tiempo limitado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>